Repository communityds/moonshell: changes, and which GitLab CI jobs are due for each by the changed paths.
All: bashate linting, markdown linting

bashate linting:
  stage: test
  script:
  - for shell_file in $(grep -slIR "#\\!/.*bash$" {bin,etc,lib}/); do bashate -v -i E006,E042 ${shell_file}; done

markdown linting:
  stage: test
  script:
  - mdl -v $(find . -name '*.md' -not -path './vendor*')

remove Gemfiles
  Gemfile
  Gemfile.lock
Due: none

add .pre step to install mdl
  .gitlab-ci.yml
Due: none

fix multiline scripts
  .gitlab-ci.yml
Due: none

add source to multiline
  .gitlab-ci.yml
Due: none

add source to multiline in .pre
  .gitlab-ci.yml
Due: none

rectify mdl issues in README
  README.md
Due: markdown linting

add output for ELBv2 TargetGroupARNs
  bin/stack-instance-status
Due: bashate linting

remove usr/
  usr/vim/template.py
  usr/vim/template.sh
  usr/vim/vimrc
Due: none

Fix indented list items in README.md
  README.md
Due: markdown linting

improve the efficiency of codedeploy_wrapper if current is present
  lib/aws/codedeploy.sh
Due: none

fix deployment_path for current
  lib/aws/codedeploy.sh
Due: none

enable overlay_self to handle symlinks
  lib/overlay.sh
Due: none

iam-role-list
  bin/iam-role-list
Due: bashate linting

set duration-seconds for sts_assume_role
  lib/aws/sts.sh
Due: none

find role max duration if duration is unspecified
  lib/aws/sts.sh
Due: none

reverse sort order of s3_file_versions
  lib/aws/s3.sh
Due: none

improve sts_assume_role
  lib/aws/sts.sh
Due: none

iam-policy-get and rework iam-policy-list
  bin/iam-policy-get
  bin/iam-policy-list
  bin/iam-policy-list-all
  lib/aws/iam.sh
Due: bashate linting

add debug an yes switches to stack-update
  bin/stack-update
Due: bashate linting

add CAPABILITY_NAMED_IAM to stack_parameter_set
  lib/aws/stack.sh
Due: none

add CAPABILITY_NAMED_IAM to stack-create
  bin/stack-create
Due: bashate linting

filter stacks which are in stack_status_ok
  bin/stack-resources
Due: bashate linting

find nested stacks for instance status
  bin/stack-instance-status
Due: bashate linting

fix setting of stack_name
  bin/vpc-associate
Due: bashate linting

update ruby to 3.0
  .gitlab-ci.yml
Due: none

update vpc-associate to handle cross account peering
  bin/vpc-associate
  lib/aws/vpc.sh
Due: bashate linting

fix undefined var
  lib/aws/stack.sh
Due: none

handle failure and null from describe-load-balancers
  bin/instance-terminate
Due: bashate linting

fix .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

fix mdl indentation issue
  README.md
Due: markdown linting

handle list-object-versions returning .RequestCharged
  bin/s3-purge-bucket
Due: bashate linting

rds-log-download
  bin/rds-log-download
  lib/aws/rds.sh
Due: bashate linting

stack-update: output failed command for ease of debugging
  bin/stack-update
Due: bashate linting

eval for quotes
  bin/stack-update
Due: bashate linting

fix header comment of rds-log-download
  bin/rds-log-download
Due: bashate linting

bin/rds-log-list
  bin/rds-log-list
Due: bashate linting

remove obsoleted ami scripts and functions
  bin/ami-clean
  bin/ami-find-roles
  bin/ami-list
  lib/aws/ami.sh
Due: bashate linting

expand compact if and add connect timeout to curl
  moon.sh
Due: bashate linting

upgrade moon.sh to AWS_AUTH
  moon.sh
Due: bashate linting

update AWS_AUTH in README
  README.md
Due: markdown linting

Path conditions:
  bashate linting: any of: *.sh, bin/*, codedeploy/bin/*
  markdown linting: any of: *.md
